.navbar ul li a {
    color:white;
    text-decoration: none;
    padding:8px 25px;
    transition:all 0.5s ease;  
}

.navbar ul{
    list-style: none;
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;
}

.navbar .menu li a:hover{
    color:black;
    background-color: white;
    box-shadow: 0 0 10px white;
}

.navbar ul li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .navbar .menu{
        width:80%;
    }    
}