.data a .btn{
    padding:10px 35px;
    margin-top: 50px;
    margin-right: 70px;
    background-color: #eaeaea;
    border: 1px solid #c1c1c1;
    color: brown;
    outline: none;
    transition: .6s ease;
    margin-left: 15px;
}

.data{
    display:flex;
}

.headings{
    font-family:sans-serif;
    font-size: 3rem;
    text-align: center;
    margin:40px 0px;
    color: white;
    
}

.btn:hover{
    cursor:pointer;
    background-color: white;
    color:white;
    box-shadow: 0 5px #eaeaea, 0 0 10px #eaeaea;
    font-weight: bold;
}

.container{
    display:flex;
}

.subcontainer{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    width:35%;
    margin-left:35px;
    color: white;
}

/* tablet style*/
@media screen and (max-width: 850px){
    /*About*/
    .container{
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 532px){
    /*About*/
    .subcontainer{
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding: 10px;
        width:80%;
        max-width: 100%;
        /* margin-left:35px; */
    }
}