body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.footer{
  display:flex;
  align-items: center;
  justify-content: center;
}

.icon{
  padding: 10px;
}

/*contact*/

.input-field{
  width:100%;
  border: 1px solid #c1c1c1;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: white;
  font-size:14px;
}

.contactFormStyle label{
  line-height: 2.7em;
  color: brown;
}

.contactFormStyle textarea{
  min-height:100px;
  font-size: 14px;
}

#submit-btn{
  margin-top: 10px;
  width:100%;
  padding-top:10px;
  padding-bottom: 10px;
  color:#fff;
  background-color: black;
  border:none;
}


@media screen and (max-width: 850px){
  /*contact*/
  .contactFormStyle{
  flex-direction: column;
  align-items: center;
  max-width:400px;
  }
}

@media screen and (max-width: 532px){
  /*Contact*/
  .contactFormStyle{
      max-width: 300px;
      flex-direction: column;
      align-items: center;
  }
}

/* about */
@media screen and (max-width: 1200px){
  #intro p{
      /* width:400px; */
      line-height: 1.2;
      font-size: 1.2rem;
  }
  #intro h2{
      text-align: center;
      font-size: 2rem;
  }
  #intro{
      display: flex;
      flex-direction: column;
      text-align: justify;
      /* padding: 10px; */
      width:55%;
      max-width: 100%;
      /* margin-left:35px; */
  }
}


@media screen and (max-width: 850px){
  /*About*/
  .pic{
      flex-direction: column;
      align-items: center;
  }
  .pic img{
      width:475px;
      height:300px;
  }
  .intro h2{
      text-align: center;
      padding: 10px;
  }
  .intro p{
      margin-right: -25px;
      line-height: 1.2;
      font-size: 1.5rem;
  }
  .intro{
      display: flex;
      flex-direction: column;
      text-align: justify;
      padding: 10px;
      width:80%;
      max-width: 100%;
      /* margin-left:35px; */
  }
}


@media screen and (max-width: 532px){
  /*About*/
  .pic img{
      width:350px;
      height:175px;
  }
  .intro h2{
      font-size: 1.5rem;
  }
  .intro p{
      /* width:300px; */
      margin-right: -25px;
      line-height: 1.2;
      font-size: 1.2rem;
  }
  .intro{
      display: flex;
      flex-direction: column;
      text-align: justify;
      padding: 10px;
      width:80%;
      max-width: 100%;
      /* margin-left:35px; */
  }
}


/* portfolio */

.content ul li{
  list-style-type: circle;
}

@media screen and (max-width: 850px){
  /*About*/
  .img-container .largepic img{
      flex-direction: column;
      align-items: center;
  }
  .img-container .largepic img{
      width:475px;
      height:300px;
  }
  .content{
      display: flex;
      flex-direction: column;
      text-align: justify;
      padding: 10px;
  }
}

@media screen and (max-width: 532px){
  /*About*/
  .img-container .largepic img{
      width:350px;
      margin:10px;
      height:175px;
      flex-direction: column;
      align-items: center;
  }
  .content{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
}